<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/entireframework.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/who">Who We Are</a></li>
                <li><a href="/what">What We Do</a></li>
                <li><a href="/get-involved">Get Involved</a></li>
                <li><a href="/support">Support Us</a></li>
            </ul>
        </nav>
        <div class="container">

            {{ content }}\

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="https://reddit.com/r/IronFrontUSA">Reddit</a></li>
                <li><a href="https://twitter.com/Iron_FrontUSA">Twitter</a></li>
            </ul>
        </footer>
    </body>
</html>
